<div class="container">
  <div class="card text-center mx-auto my-4">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form #postForm="ngForm" (ngSubmit)="onCreateCustomer(postForm.value)">
        <div class="form-row">
          <div class="form-group col-12">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="name" required ngModel name="name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" required ngModel name="password">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <button class="btn btn-outline-success" type="submit" [routerLink]="['/painel']">login</button>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted">
      <button type="button" class="btn btn-outline-secondary" [routerLink]="['']">Retornar</button>
      <button type="button" class="btn btn-outline-primary" [routerLink]="['/cadastro']">Cadastrar</button>
    </div>
  </div>
</div>
