<app-nav></app-nav>

<div id="home" class="jumbotron jumbotron-fluid">
  <div class="container mt-4">
    <h1 class="display-4">Upper Computer</h1>
    <h2 class="display-4">Digital Inovation</h2>
    <p class="lead">Seu Projeto à um clique
    <button type="button" class="btn btn-info">Saiba Mais</button></p>
  </div>
</div>

<div id="servicos" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Serviços</h1>
    <h2 class="display-4">Fluid jumbotron</h2>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<div id="nos" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Nós</h1>
    <h2 class="display-4">Fluid jumbotron</h2>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<div id="contato" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contato</h1>
    <h2 class="display-4">Fluid jumbotron</h2>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
