li {
  list-style: none;
}

a,
i {
  color: #fff;
}

nav {
  padding: 0.6rem 2rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  color: #fff;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #1ebba3;
}

.dropdown-menu {
  left: -4rem;
}
.dropdown-menu a {
  /* background-color: #343a40 !important; */
  color: #343a40 !important;
}

button:focus,
a:focus {
  outline: 0;
  transition: all 0.6s ease;
}

button,
a,
a.btn {
  transition: all 0.6s ease;
}
