<div class="container">
  <div class="card text-center mx-auto my-4">
    <div class="card-header">
      Cadastro
    </div>
    <form #postForm="ngForm" (ngSubmit)="onCreateCustomer(postForm.value)">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-12">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" required ngModel name="name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-md-6">
            <label for="phoneNumber:">Celular</label>
            <input type="number" class="form-control" id="phoneNumber" required ngModel name="phoneNumber">
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="cpf">CPF</label>
            <input type="number" class="form-control" id="cpf" required ngModel name="cpf">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-md-6">
            <label for="company">Empresa</label>
            <input type="text" class="form-control" id="company" required ngModel name="company">
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="cep">CEP</label>
            <input type="number" class="form-control" id="cep" required ngModel name="cep">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12 col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" required ngModel name="email">
          </div>
          <div class="form-group col-12 col-md-6">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password" required ngModel name="password">
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['']">Retornar</button>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!postForm.valid">Cadastrar</button>
      </div>
    </form>
  </div>

</div>
